{% extends 'base.html' %}



{% block content %}
  <div class="container">

  {% if request.user.is_authenticated %}
  <div class="text-center mt-4">
    <h3>Welcome {{ request.user | title }}</h3>
  </div>


  {% for todo in todos %}
  <div class="card mx-auto text-center mt-3" style="width: 20rem;">
    <div class="card-header">
      Django Todo
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ todo.title | capfirst }}</h5>
      <p class="card-text">Due on the {{ todo.due_date }}</p>
      <p class="fw-lighter text-secondary ">Created {{ todo.created_at }}</p>
      {% ifchanged %}
        <p class="fw-lighter text-secondary ">Last Updated at {{ todo.updated_at }}</p>
      {% endifchanged %}
    </div>

  </div>

  {% endfor %}
    </div>
  {% endif %}
{% endblock content  %}
  